<template>
  <div class="<%= data.lowercaseName %>">
    <h2>
      {{ msg }}
    </h2>
  </div>
</template>

<script>
  export default {
    name: "<%= data.name %>",
    components: {},
    min: "",
    props: {
      msg: String,
    },
    mixins: {},
    data() {
      return {
        msg: "",
      };
    },

    created() {},

    mounted() {},

    methods: {},
  };
</script>

<style scoped>
  .<%=data.lowercaseName %> {}
</style>